<!DOCTYPE HTML>
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    {% include '/includes/header.html' %}
    <form method="GET" name="form">
        <div class="form-group">
            <label for="entrada" class="badge badge-primary">Insira os textos a serem processados,
                lembrando que o simbolo
                fornecido pelas teclas shift+\ (" | ")
                deve ser utilizado para separar os textos, após a inserção do texto escolher o processamento precionando
                um dos botões abaixo:</label>
            <textarea class="form-control" id="enter" name="enter" rows="12" placeholder=""></textarea>
            <input type="submit" formaction="{{ url_for('gramatica1')}}" value="Processamento 1"
                class="btn btn-info btn-lg btn-block">
            <input type="submit" formaction="{{ url_for('gramatica2')}}" value="Processamento 2(2-gram)"
                class="btn btn-info btn-lg btn-block">
        </div>
    </form>
    {% include '/includes/footer.html' %} </body>

</html>